<div class="bg-gradient-to-r from-blue-500 to-orange-600 font-bold h-10 w-full text-white px-5 flex items-center">
<%= link_to 'All Kitens', kittens_path, class: "mx-5 hover:text-slate-400" %>
<%= link_to  "Add a Kitten", new_kitten_path, class: "mx-5 hover:text-slate-400" %>

</div>